body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: #333;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color:rgb(31, 214, 196);
  text-align: left;
}

h2 {
  font-size: 15px;
  color: rgb(31, 214, 196);
  text-align:right;
}


.container h3 {
    font-weight: bold;
    font-size: 100%;
    color: turquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 70px;
    margin-left: 20px;
    padding: 20px;
}

#comparison h3 {
    margin-top: 1px;
}

h5 {
  color: White;
}
a {
  color: black;
}

p {
    font-size: 15px;
}

/* Selecting elements by class */
.container {
  background-color: white; 
}

.div1 {
  height: 100vh;
}


#figure {
  position: relative;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid .navbar-brand{
  color: white;
  height: 60px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 150%;
  background: rgb(31, 214, 196);
}

.navbar-nav li {
display:inline-block;     
}

@media (max-width: 480px) {
    .navbar-nav li {  
      padding: 10px;
    }
     .box {
      margin-right: 20px;
      margin-left: 20px;
    } 
    .navbar ul { 
      visibility: hidden;
    }
     #nav-select {
      visibility: visible;
    } 
  }